a.link {
  color: var(--color-1);
}

a.link:hover {
  color: var(--color-2);
}

.btn {
  padding: 8px 16px;
  cursor: pointer;
}

.btn.btn-ghost {
  border: none;
}

.btn.btn-icon {
  display: flex;
  align-items: center;
  gap: 4px;
}

.btn.btn-link {
  color: var(--color-1);
}

.btn.btn-link:hover {
  color: var(--color-2);
}

.text-sm {
  font-size: 8px;
}

.text-md {
  font-size: 12px;
}

.text-lg {
  font-size: 16px;
}
