:root {
  --white: #fff;
  --black: #000;
  --gray: #f6f6f6;
  --gray-2: #e3e3e3;
  --gray-3: #c5c5c5;

  --color-1: #05668d;
  --color-2: #028090;
  --color-3: #00a896;
  --color-4: #02c39a;
  --color-5: #f0f3bd;
}
